body {
    background-color: darkred;
}

h1{
    color: darkred;
    font-family: "Noto Sans Gothic", sans-serif;
    -webkit-text-stroke: 2px black;
    text-align: center;
    background-image: url("/FinalProj/other/backgroundmarvel.jpeg");
    border-style: inset;
    width: 100%;
    font-size: 500%;
}
h2{
    background-color: darkred;
    font-family: "Noto Sans Gothic", sans-serif;
    color: white;
    border-style: solid;
    width: 100%;
    text-align: center;
}
p{
    background-color: darkred;
    font-family: "Noto Sans Gothic", sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}
.center{
    width: 33.3%;
}

.button{
    font-size: 100%;
    align-self: auto;
}
.text{
    color: #00f800;
    font-size: 100%;
}
.text2{
    color: #ff0000;
    font-size: 100%;
}
.result{
    color: #00f800;
    font-size: 100%;
}
.wrong{
    color:red;
    font-size: 100%;
}
.score{
    color: #00daff;
    font-size: 100%;
}